python-dotenv
streamlit
phidata
pillow
google-generativeai
googlesearch-python
pycountry
groq
markdown
langchain 
langchain-google-genai 
langchain-community 
tavily-python
duckduckgo-search
Wikipedia
ddgs
langchain_tavily
